<ion-view title="Register">
  <ion-nav-buttons side="right">
    <button ng-click="register()" ng-disabled="!data.profile.phone || data.profile.phone.length === 0" class="button button-clear button-positive">Done</button>
  </ion-nav-buttons>

  <ion-content class="register">
    <div class="text-center instructions">
      Please enter you registration infomation.
    </div>

    <div class="list">
      <label class="item item-input">
        <input ng-model="data.email" type="text" placeholder="Your Email Address">
      </label>
      <label class="item item-input">
        <input ng-model="data.password" type="password" placeholder="Your password">
      </label>
    </div>
  </ion-content>
</ion-view>